<div class="search-form ml-4 mr-4">
    <form method="POST">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Search</label>
            <input type="text" name="q" class="form-control" placeholder="Search">
        </div>
        <div>
            <select name="gender" class="form-select" aria-label="Default select example">
                <option value="null" selected>Open this select menu</option>
                <option value="male">Nam</option>
                <option value="female">Nu</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>