<html>
<header>

</header>
<body>
<div>
    <h1>login</h1>
    <form action="/login" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" value="ishaan@gmail.com">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" value="123456">
        <button type="submit">submit</button>
    </form>
</div>

</body>
</html>